development:
  password:
  theme_id: ""
  store:
  directory: dist/
  ignore_files:
    - config/settings_data.json

devServer:
  password:
  theme_id: ""
  store:
  directory: dist/
  ignore_files:
    - config/settings_data.json
    - "*.js"
    - "*.hot-update.json"

production:
  password:
  theme_id: ""
  store:
  directory: dist/
  ignore_files:
    - config/settings_data.json
