{{ 'bundle.message.css' | asset_url | stylesheet_tag }}

<div class="message_container">
    <h1 class="message_heading">This is a message from a snippet</h1>
</div>

{{ 'bundle.message.js' | asset_url | script_tag }}
